<!DOCTYPE HTML>

<html>
	<head>
		<title>Hatem Ahmed Photography</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/css/main.css" />
		<noscript><link rel="stylesheet" href="static/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload-0 is-preload-1 is-preload-2">

		<!-- Main -->
			<div id="main">

				<!-- Header -->
					<header id="header">
						<h1 style="text-align:center background-image: url('static/img/fulls/smallcam.jpg');">Hatem's Lens</h1>
						<ul class="icons" style="text-align:center">
							<li><a href="https://www.instagram.com/hatemslens/" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="https://github.com/hahmed06/hahmedphotos.com" class="icon brands fa-github"><span class="label">Github</span></a></li>
							<li><a href="mailto:hatemahmed87@gmail.com" class="icon fa-envelope"><span class="label">Email</span></a></li>
						</ul>
					</header>

				<!-- Thumbnail -->
					<section id="thumbnails">
						<article>
							<a class="thumbnail" href="static/img/fulls/01.jpg" data-position="left center"><img src="static/img/thumbs/01.jpg" alt="" /></a>
							<h2>Photography bringing statues to life!</h2>
							<p>Queen Elizabeth Park - Vancouver</p>
						</article>
						<article>
							<a class="thumbnail" href="static/img/fulls/02.jpg"><img src="static/img/thumbs/02.jpg" alt="" /></a>
							<h2>Perspective..</h2>
							<p>Sunset Beach - Vancouver</p>
						</article>

						<article>
							<a class="thumbnail" href="static/img/fulls/05.jpg" data-position="top center"><img src="static/img/thumbs/05.jpg" alt="" /></a>
							<h2>Beach at Sunset..</h2>
							<p>Sunset Beach - Vancouver</p>
						</article>
						<article>
							<a class="thumbnail" href="static/img/fulls/06.jpg"><img src="static/img/thumbs/06.jpg" alt="" /></a>
							<h2>Dancing fountains..</h2>
							<p>Queen Elizabeth Park - Vancouver</p>
						</article>
						<article>
							<a class="thumbnail" href="static/img/fulls/07.jpg"><img src="static/img/thumbs/07.jpg" alt="" /></a>
							<h2>Black and Pink</h2>
							<p>Queen Elizabeth Park - Vancouver</p>
						</article>
						<article>
							<a class="thumbnail" href="static/img/fulls/08.jpg"><img src="static/img/thumbs/08.jpg" alt="" /></a>
							<h2>Pink Rose</h2>
							<p>Queen Elizabeth Park - Vancouver</p>
						</article>
						<article>
							<a class="thumbnail" href="static/img/fulls/09.jpg"><img src="static/img/thumbs/09.jpg" alt="" /></a>
							<h2>Green..</h2>
							<p>Queen Elizabeth Park - Vancouver</p>
						</article>
						<article>
							<a class="thumbnail" href="static/img/fulls/10.jpg"><img src="static/img/thumbs/10.jpg" alt="" /></a>
							<h2>Horizon on fire..</h2>
							<p>Sunset Beach - Vancouver</p>
						</article>
						<article>
							<a class="thumbnail" href="static/img/fulls/11.jpg"><img src="static/img/thumbs/11.jpg" alt="" /></a>
							<h2>Autumn dew..</h2>
							<p>Sunset Beach - Vancouver</p>
						</article>
						<article>
							<a class="thumbnail" href="static/img/fulls/12.jpg"><img src="static/img/thumbs/12.jpg" alt="" /></a>
							<h2>Fall..</h2>
							<p>Sunset Beach - Vancouver</p>
						</article>
					</section>

				<!-- Footer -->
					<footer id="footer">
						<ul class="copyright">
							<li>&copy; Hatem Ahmed Photography</li>
						</ul>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="static/js/jquery.min.js"></script>
			<script src="static/js/browser.min.js"></script>
			<script src="static/js/breakpoints.min.js"></script>
			<script src="static/js/main.js"></script>

	</body>
</html>
